<nav class="flex gap-2 items-baseline max-sm:mx-auto">
  <h5 class="uppercase font-bold text-xs font-caption">Quick links:</h5>

  <div class="contents *:link">
    <%= link_to "Registry", registry_path %>
    <%= auth_link %>
  </div>
</nav>