<div class="bg-cover bg-fixed bg-[url('backgrounds/grotto.jpg')] min-h-screen grid place-content-center py-40 pb-[100dvh] px-4">
  <section class="card md:text-xl space-y-4 py-8 w-screen max-w-screen-md mx-auto">
    <div class="max-w-[40ch] space-y-4 mx-auto">
      <h1 class="text-center">What we want most</h1>
      <p class="leading-tight text-2xl text-balance">Your presence and support in our lives is the greatest gift we could ever hope for.</p>
      <p class="leading-tight">Many friends and relatives have asked for our registry – a list of things we might want in order to start this new chapter.</p>
      <p class="leading-tight">We looked at the things people traditionally put on this list, and found (as 30-somethings who'd both lived alone for some time) that we already had most of it.</p>
      <p class="leading-tight">Honestly, there's no appliance, luggage, glassware, bath towel, monogrammed robe, or sofa that we'd want, and could also fit into our tiny Brooklyn apartment. We don't want stuff!</p>
    </div>
    <div class="max-w-[40ch] space-y-4 mx-auto">
      <hr>
      <p class="leading-tight">By traveling from far away lands, and supporting us each in becoming the people we needed to be to meet each other, you've already given us something profound.</p>
       <%= image_tag "props/seal-wax.png", class: "mx-auto size-24 rotate-4 mt-6 mb-4" %>
      <p class="leading-tight text-center text-balance italic tracking-tight">Thank you for your presence in our lives.</p>
    </div>
  </section>
  <blockquote class="max-w-[40ch] mt-24 rounded-lg p-8 shadow-2xl shadow-amber-300 bg-blue-950/40 backdrop-blur-sm flex flex-col gap-3 mx-auto leading-tight text-balance text-center font-caption text-amber-100 drop-shadow-sm">
    <p>We put a poem here.</p>
    <p>You could too.</p>
    <p>For us, it summed up our feelings;</p>
    <p>About life, about beauty, about what we want most.</p>
    <p>I've removed it, even though it's one you've likely read before.</p>
    <p>Because you probably have a better option.</p>
    <p><strong>And this one was ours.</strong></p>
    <cite class="uppercase not-italic mt-1 font-bold font-sans text-[10px]">— Some wise person</cite>
  </blockquote>
</div>
